:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-lavender: #d1d8ff;
  --color-lavender: #948ecc;
  --color-dark-lavender: #545074;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7e7b7b;
  --color-light-blue: #b0c4de;
  --color-plum: #dda0dd;
  --color-plum-hover: rgba(221, 160, 221, 0.4);
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  cursor: default;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}
mark {
  background-color: var(--color-plum-hover);
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: var(--color-white);
  padding: 11px 16px;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}

#navbar.navbar--dark {
  background-color: var(--color-lavender);
}

.navbar__menu {
  display: flex;
}
.navbar__logo {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  display: flex;
  align-items: center;
}
.navbar__logo__img {
  cursor: pointer;
  width: 40px;
  height: 40px;
}
.navbar__menu__item {
  padding: 7px 7px 4px 7px;
  margin: 0 8px;
  cursor: pointer;
}
.navbar__menu__item.active {
  border-bottom: 3px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-plum-hover);
}
.navbar__toggle-btn {
  position: absolute;
  top: 18px;
  right: 32px;
  font-size: var(--font-regular);
  color: var(--color-white);
  display: none;
}

/* Home */
#home {
  background: url("images/home-background.jpg") center/cover no-repeat;
  padding: 100px 40px 40px 40px;
  height: 75vh;
}
.home__container {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  align-items: center;
  height: 100%;
}
.home__container-left {
  text-align: right;
}
.home__container-right {
  width: 400px;
  text-align: left;
  display: grid;
  grid-template-rows: 5fr 1fr;
  height: 17rem;
}
.home__avatar {
  width: 18rem;
  height: 18rem;
  border-radius: 40%;
  object-fit: contain;
}
.home__title h1 {
  color: var(--color-white);
  margin-bottom: 0;
}
.home__title.sub {
  display: flex;
  align-items: center;
}
.home__cursor {
  content: "";
  margin-left: 3px;
  border-right: 2px solid var(--color-white);
  animation: cursor 0.9s infinite steps(2);
}
.home__description {
  color: var(--color-light-lavender);
  font-size: var(--font-small);
}
@keyframes cursor {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.home__contact {
  color: var(--color-light-lavender);
  padding: 5px 18px;
  border: 1px solid var(--color-light-lavender);
  border-radius: var(--size-border-radius);
  font-size: var(--font-small);
  margin-left: 2rem;
}
.home__contact:hover {
  background-color: var(--color-plum-hover);
}
/* Section common */
.section {
  padding: 50px 100px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
/* .about__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-bottom: 20px;
  line-height: 1.7rem;
} */
.about__majors {
  text-align: left;
  word-break: break-word;
  margin-bottom: 20px;
}
.about__majors p {
  padding: 5px 0;
}
.about__jobs {
}
.job {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  background-color: var(--color-light-white);
  border-radius: 13px;
  margin-top: 10px;
}
.job__image {
}
.job__image img {
  width: 6rem;
}
.job__url a {
  color: var(--color-dark-grey);
}
.job__description {
  text-align: left;
  padding: 20px 0;
  padding-right: 20px;
}
.job__name {
  font-size: var(--font-regular);
}
.job__name span {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}
.job__period {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}
.job__detail {
  text-align: left;
  margin: 15px 0;
  list-style-type: circle;
  padding-left: 20px;
}

/* Skill */
#skills {
  background-color: var(--color-light-lavender);
}
.skillset {
  border-radius: var(--font-regular);
  background-color: var(--color-light-white);
  margin: 20px 0;
  padding: 20px;
}
.skillset__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7rem, auto));
  grid-row-gap: 2rem;
}
.skillset__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}
.skillset__item img {
  width: 4rem;
  margin-bottom: 0.5rem;
}

/* Work */
.work__categories {
  margin: 40px 0px;
}
.category__btn {
  border: 1px solid var(--color-lavender);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 45px 8px 30px;
  margin: 0px 5px;
  position: relative;
}
.category__btn.selected,
.category__btn:hover {
  background-color: var(--color-lavender);
  color: var(--color-white);
}
.category__btn.selected .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 6px;
}
.category__count {
  background-color: var(--color-plum);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -20px;
  right: 12px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}

.work__projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
  grid-gap: 1rem;
}
.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.98) translateY(40px);
}
.project {
  background-color: var(--color-light-white);
  height: auto;
  position: relative;
}
.project.invisible {
  display: none;
}
.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
.project__description {
  width: 100%;
  padding: 0 12px 35px 12px;
  height: auto;
  text-align: left;
}
.project__description h3 {
  margin: 0;
  color: var(--color-lavender);
}
.project__description span {
  font-size: var(--font-micro);
  color: var(--color-light-grey);
}
.project__description h3::after {
  content: "";
  display: block;
  position: relative;
  height: 1.5px;
  margin-top: 5px;
  background-color: var(--color-dark-white);
}
.project__url {
  position: absolute;
  bottom: 7px;
  color: var(--color-plum);
  right: 12px;
}
.project__url a {
  color: var(--color-plum);
  margin-left: 15px;
}
.project__url a:hover {
  color: var(--color-orange);
}
/* Contact */
#contact {
  background-color: var(--color-lavender);
}
.contact__title,
.contact__email,
.contact__right {
  color: var(--color-white);
}
.contact__title {
  margin: 0;
}
.contact__subtitle {
  color: var(--color-light-lavender);
  margin-bottom: 65px;
}
.contact__email {
  background-color: var(--color-plum-hover);
  border-radius: 100px;
  font-size: var(--font-regular);
  padding: 20px 35px;
  color: var(--color-white);
  cursor: pointer;
}
.contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}
.contact__links i {
  transition: all var(--animation-duration) ease-in;
}
.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-plum);
}
.contact__right {
  color: var(--color-light-lavender);
  font-size: var(--font-micro);
}
/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  font-size: 30px;
  background-color: var(--color-lavender);
  border: 1px solid var(--color-white);
  color: var(--color-white);
  border-radius: 50%;
  opacity: 0;
  pointer-events: none;
  transition: all var(--animation-duration) ease-in;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 769px screen width */
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-lavender);
  }
  #navbar.navbar--dark {
    padding: 11px 16px;
  }
  .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }
  .navbar__toggle-btn {
    display: block;
    top: 22px;
    right: 22px;
  }
  .section {
    padding: 15px;
    padding-top: 45px;
  }
  #home {
    height: fit-content;
  }
  .home__container {
    display: block;
  }
  .home__container-left {
    text-align: center;
  }
  .home__avatar {
    width: 15rem;
    height: 15rem;
  }
  .home__container-right {
    width: 100%;
    height: 25vh;
    display: block;
    text-align: center;
  }
  .home__title {
    margin-bottom: 1rem;
    height: 120px;
  }
  .home__title.sub,
  .home__title.sub button {
    display: block;
    margin: auto;
  }
  .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
  }
  .major {
    margin-bottom: 30px;
  }
  .skillset {
    flex-direction: column;
  }
  .category__btn {
    margin: 4px 0;
    width: 70%;
  }
  .project {
    flex-grow: 1;
  }
  .arrow-up {
    right: 16px;
    bottom: 60px;
  }
}
